/* Para mostrar los cuadraditos de numeros con js */
.hidden{
    display: none;
}
/* Fondo negro con JS */
body.dark{
    background-color: rgb(70, 68, 68);
    color: white;
}

/* Header */
header{
    text-align: center;
    padding-bottom: 10px;
    border-bottom: 1px solid blueviolet;
}
h1{
    font-size: 60px;
}
#setup-game{
    display: flex;
    justify-content: center;
}
#setup-game > * {
    margin-bottom: 10px;
    padding-left: 50px;
    padding-right: 50px;
    display: flex;
    align-items: center;
}
button {
    justify-self: center;
    padding-right: 40px;
    padding-left: 40px;
    padding: 20px;
    color: white;
    background-color: black;
    cursor: pointer;
}
p#timer, p#lives{
    font-size: 30px;
    font-weight: bold;
    text-align: center;
}
#game{
    display: flex;
    justify-content: center;
}

#number-container > p{
    border: 1px solid black;
    border-radius: 20px;
    width: 60px;
    height: 60px;
    font-size: 60px;
    margin-left: 50px;
    margin-top: 5px;
    margin-bottom: 5px;
    text-align: center;
}
#board{
    padding-top: 10px;
    margin-top: 10px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: flex-start;
    width: 600px;
    height: 600px;
}
.tile{
    border: 1px solid black;
    width: 60px;
    height: 60px;
    text-align: center;
    margin: 0px;
    vertical-align: middle;
    font-size: 60px;
}
p.selected{
    background-color: rgb(54, 164, 54);
}
p.incorrect{
    color: red;
}
.rightBorder{
    border-right: 4px solid black;
}
.bottomBorder{
    border-bottom: 4px solid black;
}
footer{
    background-color: grey;
    text-align: center;
    padding: 10px;
}
a {
    text-decoration: none;
}